@import "fonts";

$wrapper_w: 1000px;
$sitebar_w: 230px;
$content_w: 740px;
$footer_w: 1040px;

$f-sz-n: 14px;
$f-sz-t: 25px;
$f-sz-inp: 12px;
$f-sz-btn: 15px;
$f-sz-a-sldr:18px;
$font-el-r: 'elektra_light_proregular';
$font-el-b: 'elektra_light_probold';
$font-em-i: 'elektra_medium_proitalic';
$font-em-r: 'elektra_medium_proregular';


$sl-c-line:#000;
$c-white: #fff;
$c-violet: #613993;

$c-blue: #5c7b98;
$c-bright-blue: #00b9fe;

$c-gray: #f4f6f9;
$c-light-gray: #dae1eb;

$c-pink: #f97e76;
$c-light-pink: #fdd5d2;

$c-green: #49bb7b;
$c-light-green: #c3e9d4;

* {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
content: " ";
display: table;
}
.clearfix:after {
clear: both;
}

/* footer внизу страницы*/
html{
	height: 100%;
}
body{
	height: 100%;
}
.wrap{
	position: relative;
	min-height: 100%;
	height: auto !important;
	overflow: hidden;
}
.wrap:after{
	content:"";
	height: 240px;
	display: block;
}
.page-footer{
	height: 240px;
	margin-top: -240px
}
/* /footer внизу страницы*/
:focus {
	outline:none;
}
a{
	text-decoration: none;	
}

img {
	max-width: 100%;
}

.wrapper{
	@extend .clearfix;
	font-size: $f-sz-n;
	font-family: $font-el-r;
	width: $wrapper_w;
	margin: 0 auto;
	position:relative;
	z-index:0;
}


.sitebar{
	float: left;
	width: $sitebar_w;
	padding-top: 38px;
}
.content{
	float: right;
	width: $content_w;
	padding-top: 38px;
}
ul{
	padding: 0;
	margin:0;
}
li{	
	list-style:none;
}

@import "sitebar.scss";
@import "content.scss";
@import "footer.scss";