@charset "UTF-8";
/* = Font
================================================*/
@font-face {
  font-family: 'elektra_light_proregular';
  src: url("../fonts/elektra_light_pro-webfont.eot");
  src: url("../fonts/elektra_light_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_light_pro-webfont.woff2") format("woff2"), url("../fonts/elektra_light_pro-webfont.woff") format("woff"), url("../fonts/elektra_light_pro-webfont.ttf") format("truetype"), url("../fonts/elektra_light_pro-webfont.svg#elektra_light_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_light_probold';
  src: url("../fonts/font-webfont.eot");
  src: url("../fonts/font-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font-webfont.woff2") format("woff2"), url("../fonts/font-webfont.woff") format("woff"), url("../fonts/font-webfont.ttf") format("truetype"), url("../fonts/font-webfont.svg#elektra_light_probold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_medium_proitalic';
  src: url("../fonts/elektra_medium_pro_italic-webfont.eot");
  src: url("../fonts/elektra_medium_pro_italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_medium_pro_italic-webfont.woff2") format("woff2"), url("../fonts/elektra_medium_pro_italic-webfont.woff") format("woff"), url("../fonts/elektra_medium_pro_italic-webfont.ttf") format("truetype"), url("../fonts/elektra_medium_pro_italic-webfont.svg#elektra_medium_proitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'elektra_medium_proregular';
  src: url("../fonts/elektra_medium_pro-webfont.eot");
  src: url("../fonts/elektra_medium_pro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/elektra_medium_pro-webfont.woff2") format("woff2"), url("../fonts/elektra_medium_pro-webfont.woff") format("woff"), url("../fonts/elektra_medium_pro-webfont.ttf") format("truetype"), url("../fonts/elektra_medium_pro-webfont.svg#elektra_medium_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  box-sizing: border-box; }

.clearfix:before,
.wrapper:before,
.form__item:before,
.gallery:before,
.goods:before,
.goods__item__head:before,
.links__item:before,
.clearfix:after, .wrapper:after, .form__item:after, .gallery:after, .goods:after, .goods__item__head:after, .links__item:after {
  content: " ";
  display: table; }

.clearfix:after, .wrapper:after, .form__item:after, .gallery:after, .goods:after, .goods__item__head:after, .links__item:after {
  clear: both; }

/* footer внизу страницы*/
html {
  height: 100%; }

body {
  height: 100%; }

.wrap {
  position: relative;
  min-height: 100%;
  height: auto !important;
  overflow: hidden; }

.wrap:after {
  content: "";
  height: 240px;
  display: block; }

.page-footer {
  height: 240px;
  margin-top: -240px; }

/* /footer внизу страницы*/
:focus {
  outline: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.wrapper {
  font-size: 14px;
  font-family: "elektra_light_proregular";
  width: 1000px;
  margin: 0 auto;
  position: relative;
  z-index: 0; }

.sitebar {
  float: left;
  width: 230px;
  padding-top: 38px; }

.content {
  float: right;
  width: 740px;
  padding-top: 38px; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

/*======================================*/
/*===============sitebar================*/
.logo {
  margin-bottom: 18px; }
  .logo__link {
    display: block; }
  .logo__text {
    text-indent: -9999px;
    height: 0; }

.control, .form__item__inp, .form__item__select, .form__item__textar {
  border: 1px solid #dae1eb;
  font-size: 12px; }

.form {
  background: #f4f6f9;
  color: #5c7b98;
  padding: 14px 12px;
  margin-bottom: 14px; }
  .form__title {
    font-weight: bold;
    font-family: "elektra_light_probold";
    font-size: 25px;
    margin-bottom: 16px; }
  .form__item {
    margin-bottom: 15px; }
    .form__item:last-child {
      margin-bottom: 0px; }
    .form__item__lable {
      float: left;
      display: block;
      padding-top: 7px; }
    .form__item__inp {
      float: right;
      width: 130px;
      padding: 5px; }
    .form__item__select {
      float: right;
      margin-left: 10px;
      cursor: pointer;
      width: 50px;
      height: 25px; }
    .form__item__textar {
      width: 100%;
      padding: 12px 8px;
      resize: vertical;
      min-height: 56px; }
    .form__item__btn {
      font: 15px "elektra_light_probold";
      color: #fff;
      padding: 8px 5px;
      min-width: 90px;
      text-align: center;
      background: #00b9fe;
      border: none;
      transition: background 0.3s ease;
      cursor: pointer; }
      .form__item__btn:hover {
        background: #009fda; }
      .form__item__btn-clear {
        float: right;
        background: #dae1eb; }
        .form__item__btn-clear:hover {
          background: #c3cede; }

.simpleselect {
  float: right;
  width: 50px;
  height: 25px;
  margin-left: 10px;
  margin-bottom: 10px; }
  .simpleselect .placeholder {
    padding: 3px; }
    .simpleselect .placeholder:after {
      content: '';
      width: 26px;
      height: 24px;
      background: url(../img/select-control.jpg) no-repeat 0 0;
      position: absolute;
      right: 0; }
  .simpleselect .options {
    display: block;
    position: absolute;
    left: -9999px;
    width: 50px;
    max-height: 200px;
    overflow: auto; }
    .simpleselect .options .option.active {
      background: #00b9fe; }
  .simpleselect.active .options {
    position: static; }

.jspVerticalBar {
  width: 10px; }
  .jspVerticalBar .jspCap {
    background: #00b9fe; }
  .jspVerticalBar .jspDrag {
    background: #00b9fe; }
  .jspVerticalBar .jspTrack {
    background: #fff; }

.gallery {
  margin-left: -10px;
  margin-bottom: 30px; }
  .gallery__item {
    float: left;
    margin: 0px 0px 6px 10px; }

.contacts {
  padding: 15px 20px;
  background: #f4f6f9;
  color: #5c7b98; }
  .contacts__item {
    padding-bottom: 15px; }
    .contacts__item-link {
      background-position: left top;
      background-repeat: no-repeat;
      display: block;
      padding-left: 25px;
      min-height: 22px; }
      .contacts__item-link.map {
        background-image: url("../img/ico_loc.png"); }
      .contacts__item-link.tel {
        background-image: url("../img/ico_tel.png"); }

/*===================/sitebar===========*/
/*===============content================*/
.slider {
  position: relative;
  width: 740px;
  height: 300px;
  /* overflow: hidden; */
  margin-bottom: 40px; }
  .slider__blk__info {
    height: 75px;
    background: rgba(0, 0, 0, 0.55);
    position: relative;
    top: -80px;
    padding: 15px 25px; }
    .slider__blk__info-title {
      font-size: 18px;
      color: #00b9fe; }
      .slider__blk__info-title:hover {
        text-decoration: none; }
    .slider__blk__info-content {
      color: #fff; }
  .slider__btn__item {
    position: absolute;
    top: 106px;
    color: #00b9fe;
    font-family: "elektra_light_probold";
    text-align: center;
    text-decoration: none;
    background: #fff;
    padding: 5px 10px; }
    .slider__btn__item:before {
      content: '';
      border: 14px solid transparent;
      display: block;
      position: absolute; }
    .slider__btn__item:hover {
      color: #fff;
      background: #00b9fe; }
    .slider__btn__item.prev {
      left: 30px; }
      .slider__btn__item.prev:before {
        border-right-color: #fff;
        border-left: 0;
        margin-left: -14px;
        top: 0;
        left: 0; }
      .slider__btn__item.prev:hover:before {
        border-right-color: #00b9fe; }
    .slider__btn__item.next {
      right: 30px; }
      .slider__btn__item.next:before {
        border-left-color: #fff;
        border-right: 0;
        margin-right: -14px;
        top: 0;
        right: 0; }
      .slider__btn__item.next:hover:before {
        border-left-color: #00b9fe; }

.bx-btn, .bx-prev, .bx-next {
  text-indent: inherit;
  background-image: url("../img/slider/slider_controls.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 35px;
  color: #5c7b98;
  font-family: "elektra_light_probold";
  text-decoration: none;
  line-height: 36px;
  top: 27%;
  font-size: 16px; }
  .bx-btn:hover, .bx-prev:hover, .bx-next:hover {
    color: #fff; }

.bx-prev {
  text-align: right;
  padding-right: 10px;
  background-position: 0 0;
  left: 10px; }
  .bx-prev:hover {
    background-position: 0 -165px; }

.bx-next {
  text-align: left;
  padding-left: 10px;
  background-position: -130px 0;
  right: 10px; }
  .bx-next:hover {
    background-position: -130px -165px; }

.title {
  font: 25px "elektra_medium_proregular";
  text-align: center;
  color: #5c7b98;
  overflow: hidden;
  margin-bottom: 8px; }
  .title__text {
    min-width: 280px;
    max-width: 500px;
    display: inline-block;
    vertical-align: middle; }
  .title:before,
  .title:after {
    content: '';
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 50%;
    left: 0;
    border-bottom: 1px solid #5c7b98; }
  .title:after {
    margin: 0 -50% 0 0; }
  .title:before {
    margin: 0 0 0 -50%; }

.goods {
  margin-left: -25px;
  margin-bottom: 40px; }
  .goods__item {
    width: 230px;
    display: block;
    border: 1px solid #dce2ec;
    margin: 10px 0px 0px 25px;
    float: left;
    vertical-align: top;
    padding: 15px;
    transition: all 0.5s ease;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15); }
    .goods__item:hover {
      box-shadow: 0 1px 8px rgba(0, 0, 0, 0.55); }
    .goods__item__head {
      margin-bottom: 20px;
      vertical-align: middle;
      min-height: 90px; }
    .goods__item__img {
      float: left;
      width: 82px;
      height: 90px;
      position: relative; }
      .goods__item__img img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto; }
    .goods__item__title {
      /*padding-top: 10px;
			display: block;
			 width: auto; */
      color: #00b9fe;
      text-decoration: underline;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 115px;
      height: 90px; }
    .goods__item__info {
      color: #5c7b98 !important; }
      .goods__item__info-lb {
        float: left;
        width: 90px; }

/*==============/content================*/
/*==============footer=================*/
.footer {
  background: url("../img/bg-footer.jpg");
  min-width: 1040px;
  position: relative;
  z-index: 100; }

.fbl__left {
  float: left;
  padding-top: 100px; }

.fbl__right {
  float: right;
  padding-top: 75px; }

.fbl__center {
  margin: 64px auto 0px 188px; }

.footerlnks {
  float: left;
  color: #fff;
  font-size: 15px;
  margin-left: 70px; }
  .footerlnks__title {
    font-family: "elektra_light_probold";
    margin-bottom: 10px; }
  .footerlnks__list__link {
    color: #fff;
    text-decoration: underline;
    display: inline-block;
    margin-bottom: 10px; }
    .footerlnks__list__link:hover {
      text-decoration: none; }

.links__item {
  margin-bottom: 20px; }
  .links__item__soc {
    width: 42px;
    height: 42px;
    display: block;
    float: left;
    background-image: url(../img/ico_soc.png);
    margin-left: 10px; }
    .links__item__soc.fb {
      background-position: -52px 0px; }
    .links__item__soc.tw {
      background-position: -106px 0px; }
  .links__item__soc:first-child {
    margin-left: 0px; }

/*==============/footer=================*/
