extends ../layouts/_layout

block title
    title ЭпплShop
block aside
  include ../common/_logo
  include ../common/_form
  include ../common/_gall
  include ../common/_contacts
block article
  include ../common/_slider
  include ../common/_goods