ul.contacts
    li.contacts__item
        span.contacts__item-link.map
            | г. Москва, ул. Новая 246, офис 214.
    li.contacts__item-link.tel(href="tel:+79213221232")
            | +7(921) 322-12-32