footer.footer
        .wrapper
          .fbl__left
            a.logo__link
              img.logo__img(src="img/logo-footer.png", alt="Эппл Shop")
              .logo__text ЭпплShop
          .fbl__right
            .links
              .links__item
                a.links__item__link(href="http://#", target="_blank")
                  img.links__item__img(src="img/ico_app.png", alt="AppStore")
                a.links__item__link(href="http://#", target="_blank")
                  img.links__item__img(src="img/ico_gp.png", alt="Google Play")
              .links__item
                a.links__item_soc.vk(href="http://#", target="_blank")
                a.links__item_soc.fb(href="http://#", target="_blank")
                a.links__item_soc.tw(href="http://#", target="_blank")
