head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    block title
        title ЭпплShop
    
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="author", content="") 

    link(rel='shortcut icon', href='/favicon.ico', type="image/x-icon")
    link(rel='icon', href='/favicon.ico', type="image/x-icon")
    
    <!-- build:css css/vendor.min.css -->
    // bower:css
    link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
    link(rel='stylesheet', href='/bower/bxslider/bx_styles/bx_styles.css')
    link(rel='stylesheet', href='/bower/jQuery.SimpleSelect/jquery.simpleselect.min.css')
    link(rel='stylesheet', href='/bower/jscrollpane/style/jquery.jscrollpane.css')
    // endbower 
    <!-- endbuild -->
    
    <!-- build:css fonts/fonts.min.css -->
    //- link(rel="stylesheet", href="fonts/fira.css")
    //- link(rel="stylesheet", href="fonts/proximanovacond-semibold.css")
    <!-- endbuild -->

    <!-- build:css css/main.min.css -->
    link(rel="stylesheet", href="css/main.css") 
    <!-- endbuild -->

    <!-- build:js js/modernizr.min.js -->
    script(src="bower/modernizer/modernizr.js")
    <!-- endbuild -->